body {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 75px 800px 800px 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    opacity: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active:hover {
    background-color: palevioletred;
}

.active {
    background-color: purple;
}

li.logga {
    position: absolute;
    right: 0px;
}

.wrapper {
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    height: 200vh;
}


/*.wrapper div*/

.front {
    background-image: url(bilder/bakgrund1.png);
    background-attachment: fixed;
    grid-column: 1/4;
    grid-row: 1/3;
    background-size: cover;
    background-position: center -30%;
    background-repeat: no-repeat;
    filter: blur(8px);
    transition: 1800ms;
}

.front.animate {
    transform: scale(1.7);
    filter: blur(0);
}

div.button {
    position: absolute;
    padding: 35px 100px;
    background: #333;
    left: 43%;
    top: 46%;
    font-size: 140%;
    color: white;
    z-index: 1;
    border-radius: 10px;
}

div.button:hover {
    cursor: pointer;
}

.wrapper * {
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
}

.bergSol {
    background-image: url(bilder/BergSol.png);
    left: 24%;
    top: 18%;
    height: 310px;
    width: 310px;
}

.böcker {
    background-image: url(bilder/Böcker.png);
    left: 80%;
    top: 13%;
    height: 200px;
    width: 200px;
}

.cirkeldiagram {
    background-image: url(bilder/CirkelDiagram.png);
    left: 33%;
    top: 47%;
    height: 230px;
    width: 230px;
}

.grafdiagram {
    background-image: url(bilder/GrafDiagram.png);
    left: 26%;
    top: 88%;
    height: 150px;
    width: 150px;
}

.blåKvinna {
    background-image: url(bilder/HKvinna.png);
    left: 78.5%;
    top: 45%;
    height: 510px;
    width: 510px;
}

.gulKvinna {
    background-image: url(bilder/Kvinna.png);
    left: 43.6%;
    top: 5.7%;
    height: 315px;
    width: 315px;
}

.man {
    background-image: url(bilder/Man.png);
    left: 10.4%;
    top: 40.4%;
    height: 530px;
    width: 530px;
}

.penna {
    background-image: url(bilder/Penna.png);
    left: 92%;
    top: 40%;
    height: 490px;
    width: 490px;
}

.skylt {
    background-image: url(bilder/Skylt.png);
    left: 49.5%;
    top: 3%;
    height: 580px;
    width: 580px;
}

.stapeldiagram {
    background-image: url(bilder/StapelDiagram.png);
    left: 8%;
    top: 15%;
    height: 210px;
    width: 210px;
}

.footer {
    background: black;
    grid-column: 1/4;
    grid-row: 4;
}