body {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10vh 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
}


/*Sidpanel 1*/

.sidepanel1 {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 62vh;
    overflow: hidden;
}

.sidepanel1 a {
    padding: 5% 5% 5% 15%;
    text-decoration: none;
    font-size: 1.4vw;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidepanel1 a:hover {
    color: #f1f1f1;
}

.sidepanel1 .closebtn1 {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 200%;
}

.openbtn1 {
    font-size: 1.3vw;
    cursor: pointer;
    background-color: #111;
    color: white;
    height: 100%;
    border: none;
    width: 5%;
    transition: 500ms;
}

.openbtn1:hover {
    background-color: #444;
}


/*Viktiga inställningar för alla buttons*/

button {
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}


/*Navbar*/

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10vh;
}

.logo1 {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 8%;
}

.logo2 {
    position: inherit;
    width: 22%;
    margin-left: 33%;
    margin-top: -8%;
}

.logInButton {
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    text-decoration: none;
    color: white;
    background-color: #111;
    border: 0;
    transition: 500ms;
}

.logInButton:hover {
    background-color: #444;
    text-decoration: none;
    color: white;
}


/*Bakgrund och 'Get Started'-knapp*/

.wrapper {
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    width: 100vw;
    height: 100vh;
}

.front {
    background-image: url(bilder/bakgrund.png);
    background-attachment: fixed;
    grid-column: 1/4;
    grid-row: 2;
    background-size: cover;
    background-position: center 6vh;
    background-repeat: no-repeat;
    filter: blur(0px);
    transition: 10000ms;
    background-size: 100%;
}

.getStarted {
    position: absolute;
    padding: 4vh 6vw;
    left: 41%;
    top: 50%;
    font-size: 1.2vw;
    color: white;
    z-index: 1;
    border-radius: 1vw;
    background-color: #111;
    text-decoration: none;
    opacity: 100%;
    transition: 500ms;
}

.getStarted:hover {
    cursor: pointer;
    background-color: #444;
}


/*Alla images*/

.wrapper * {
    position: absolute;
}

.bergSol {
    left: 27%;
    top: 15%;
    width: 14.8%;
}

.böcker {
    left: 81%;
    top: 10%;
    width: 8.2%;
}

.cirkeldiagram {
    left: 35%;
    top: 43.5%;
    width: 10%;
    transform: rotateY(180deg);
}

.grafdiagram {
    left: 27%;
    top: 79%;
    width: 8%;
}

.blåKvinna {
    left: 75%;
    top: 38.3%;
    width: 9.3%;
}

.gulKvinna {
    left: 44.6%;
    top: 4%;
    width: 9%;
}

.man {
    left: 15.4%;
    top: 35.5%;
    width: 14.5%;
}

.penna {
    left: 90%;
    top: 37%;
    width: 4.8%;
}

.skylt {
    left: 49.5%;
    top: -2%;
    width: 27.5%;
}

.stapeldiagram {
    left: 8%;
    top: 14%;
    width: 10%;
}


/*Diagram*/

.ct-chart {
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 3;
    display: none;
    transition: 2000ms;
}

.ct-bar {
    stroke-width: 4vh;
}


/*Sidpanel 2*/

.sidepanel2 {
    width: 0;
    position: fixed;
    z-index: 10;
    height: 70vh;
    top: 19vh;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 500ms;
    overflow: hidden;
    z-index: 5;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.openbtn2 {
    font-size: 1.3vw;
    cursor: pointer;
    background-color: #111;
    color: white;
    height: 16vh;
    border: none;
    width: 4vw;
    transition: 500ms;
    z-index: 4;
    position: absolute;
    right: 0;
    top: 45vh;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: none;
}

.openbtn2:hover {
    background-color: #444;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 10vh;
    font-size: 1.9vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-group {
    display: grid;
    grid-template-rows: 2vh 0.1vh 8vh 6vh 6vh 13vh;
    grid-template-columns: 5vw 13vw 3vw 13vw;
}

.btn-group button {
    background-color: #E6E9F5;
    color: #444;
    border-radius: 0.3vw;
    font-size: 1.5vw;
}

.btn-group button:hover {
    background-color: white;
}

.rubrikA {
    grid-column: 3/5;
    grid-row: 1;
}

.bar {
    grid-column: 2;
    grid-row: 4/7;
}

.line {
    grid-column: 4;
    grid-row: 4/7;
}

.sidepanel2 input,
.doneLine,
.nextPoint,
.rubrikB,
.rubrikC,
.rubrikD,
.rubrikE,
.doneBar,
.nextBar {
    display: none;
}

.xCoordLine,
.xCoordBar {
    grid-column: 2;
    grid-row: 4;
}

.yCoordLine,
.yCoordBar {
    grid-column: 4;
    grid-row: 4;
}

.doneLine,
.doneBar {
    grid-column: 4;
    grid-row: 6;
}

.nextPoint,
.nextBar {
    grid-column: 2;
    grid-row: 6;
}

.rubrikB,
.rubrikD {
    grid-column: 2;
    grid-row: 3;
    color: white;
}

.rubrikC,
.rubrikE {
    grid-column: 4;
    grid-row: 3;
    color: white;
}


/*Contact*/

.about,
.contact {
    z-index: 10;
    display: none;
    position: absolute;
    width: 60vw;
    height: 100vh;
    left: 20vw;
    top: 20vh;
}

h1 {
    font-size: 3vw;
}

p {
    margin-top: 10vh;
    font-size: 1.7vw;
}


/*Log in*/

.username,
.password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit,
.cancel {
    background-color: #5968B0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit:hover,
.cancel:hover {
    background-color: rgb(97, 114, 199);
}

.cancel {
    width: auto;
    padding: 10px 18px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 20%;
    border-radius: 50%;
}

.contain {
    padding: 16px;
}

.forgotPassword {
    float: right;
    padding-top: 16px;
    color: black;
}

.container {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.container-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    cursor: pointer;
}